.title{
  margin-bottom: 24px; /* Adjust the value as needed */
  margin-top: 24px;
}
.row {
  display: flex;
  gap: 10px;
  margin-bottom: 16px; /* Adjust the value as needed */
}
.long-input{
  flex-grow: 2;
}
.short-input{
  flex-grow: 1;
}

.action {
  padding: 0px 25px 20px;
}

.action button {
  flex: 1;
}
