<form [formGroup]="personForm" (ngSubmit)="onFormSubmit()" >
  <div mat-dialog-content>
    <h2>Add Person Form</h2>

    <div formGroupName="name">
      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName">
          <mat-hint>e.g. John</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput type="text" formControlName="middleName">
          <mat-hint>e.g. Michael</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName">
          <mat-hint>e.g. Doe</mat-hint>
        </mat-form-field>
      </div>

      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Suffix</mat-label>
          <input matInput type="text" formControlName="suffix">
          <mat-hint>e.g. III, XIV</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Title</mat-label>
          <mat-select formControlName="title">
            <mat-option value="Mr.">Mr.</mat-option>
            <mat-option value="Ms.">Ms./Mrs.</mat-option>
            <mat-option value="Mrs.">Others</mat-option>
          </mat-select>
          <mat-hint align="start">e.g. Mr., Mrs.</mat-hint>
        </mat-form-field>
      </div>
    </div>

<!-- Address -->
<div formArrayName="address">
  <div *ngFor="let addressGroup of addressControls.controls; let addressIndex = index">
    <div [formGroupName]="addressIndex">
      <div class="title">
        <h3>Address Details {{addressIndex +1 }}</h3>
        <button mat-icon-button color="primary"  type="button" (click)="addAddress()" class="add-button">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="warn" type="button" (click)="removeAddress(addressIndex)" class="remove-button" [disabled]="addressControls.controls.length === 1">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="long-input">
          <mat-label>Street No. and Name</mat-label>
          <input matInput type="text" formControlName="streetNumber">
          <mat-hint>e.g. 148 Manok Street</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="short-input">
          <mat-label>Barangay</mat-label>
          <input matInput type="text" formControlName="barangay">
          <mat-hint>e.g. Tibagan</mat-hint>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="long-input">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city">
          <mat-hint>e.g. Marikina </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="short-input">
          <mat-label>Zip Code</mat-label>
          <input matInput type="text" formControlName="zipCode">
          <mat-hint>e.g. 2550</mat-hint>
        </mat-form-field>
      </div>

    </div>
  </div>
</div>

    <div class="title">
      <h3>Birthday</h3>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="birthdayPicker" formControlName="birthday">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdayPicker></mat-datepicker>
      </mat-form-field>
    </div>





<!-- Contact Information -->
<div formArrayName="contactInformation">
  <ng-container *ngFor="let contactGroup of contactControls.controls; let contactControlsIndex = index" [formGroupName]="contactControlsIndex">
    <div class="row">
      <div class="title">
        <h3>Contact Information {{ contactControlsIndex + 1 }}</h3>
      </div>
      <button type="button" mat-icon-button color="primary" (click)="addContact()" class="add-button">
        <mat-icon>add</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        color="warn"
        (click)="removeContact(contactControlsIndex)"
        class="remove-button"
        [disabled]="contactControls.controls.length === 1"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Landline</mat-label>
        <input matInput type="text" pattern="[0-9\-]*" formControlName="landline" required>
        <mat-hint>e.g. 534-1234</mat-hint>
        <mat-error *ngIf="contactGroup.get('landline')?.invalid && (contactGroup.get('landline')?.dirty || contactGroup.get('landline')?.touched)">
          Invalid format. Only numbers and dashes are allowed.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput type="text" pattern="[0-9\-]*" formControlName="mobileNumber" required>
        <mat-hint>e.g. 0999-494-0221</mat-hint>
        <mat-error *ngIf="contactGroup.get('mobileNumber')?.invalid && (contactGroup.get('mobileNumber')?.dirty || contactGroup.get('mobileNumber')?.touched)">
          Invalid format. Only numbers and dashes are allowed.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-hint>e.g. johndoe@gmail.com</mat-hint>
        <mat-error *ngIf="contactGroup.get('email')?.invalid && (contactGroup.get('email')?.dirty || contactGroup.get('email')?.touched)">
          Invalid email format.
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>
    </div>
    <div class="row">
      <mat-radio-group formControlName="employed">
        <mat-label>Employment Status: </mat-label>
        <mat-radio-button  [value] = "false">Unemployed</mat-radio-button>
        <mat-radio-button [value] = "true">Employed</mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="personForm.get('employed')?.value === true">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>GWA</mat-label>
          <input matInput type="text" formControlName="gwa">
          <mat-hint>e.g 1.5</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date hired</mat-label>
          <input matInput [matDatepicker]="dateHiredPicker" formControlName="dateHired">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="dateHiredPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateHiredPicker></mat-datepicker>
        </mat-form-field>
      </div>

        <div class="row">
          <div formArrayName="roleName">
            <div class="title">
              <h3>Role Details</h3>
            </div>
            <div *ngFor="let roleName of roleFormArray.controls; let roleFormArrayIndex = index">
              <mat-form-field appearance="outline" class="short-input">
                <mat-label>Role {{roleFormArrayIndex + 1}}</mat-label>
                <input matInput type="text" [formControlName]="roleFormArrayIndex">
                <mat-hint>e.g. Dev, Manager</mat-hint>
              </mat-form-field>
              <button mat-icon-button color="primary" type="button" (click)="addRole()" class="add-button">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="warn" type="button" (click)="removeRole(roleFormArrayIndex)"
               class="remove-button" [disabled]="roleFormArray.controls.length === 1">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Create'}}</button>
  </div>
</form>
